<%- include('layout/header') %> <%- include('layout/nav') %>

<h1>Ini halaman contact</h1>
<h2>Berikut data yang terdapat di halaman Contact</h2>

<% contacts.forEach(contacts => { %>
<ul>
  <li><%= contacts.name %></li>
  <li><%= contacts.mobile %></li>
  <li><%= contacts.email %></li>
</ul>

<% }) %> <%- include('layout/footer') %>
